body{
    font-size: 1.3rem;
    letter-spacing: 1px;
}
h1{
    color: brown;
}

div {
    background-color: royalblue;
    padding: 10px 10px;
    color: azure;
    border: solid 2px rebeccapurple;
}
span{
    color: brown;
    background-color: aqua;
}